<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">General Settings</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="''">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="javascript:(0)">Settings</a></li>
                        <li class="breadcrumb-item active">General Settings</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">

            <div class="col-12">

                <!-- General -->
                <full-calendar [options]="calendarOptions"></full-calendar>
                <!-- /General -->

            </div>
        </div>

    </div>
</div>
