
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div  class="booking-doc-info">

                            <div class="booking-info">
                                <h4><a>{{this.exData.examen}}</a></h4>
                                <div class="rating">
                                    <h6>Tipo de muestra: {{this.exData.tipo}}</h6>
                                    <h6>Tiempo de Entrega: {{this.exData.entrega}}</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-6">
                        <h4 class="mb-1">{{this.req.exaData.day | date}}</h4>
                    </div>
                    <div class="col-12 col-sm-8 col-md-6 text-sm-right">
                        <div class="bookingrange btn btn-white btn-sm mb-3">
                            <i class="far fa-calendar-alt mr-2"></i>
                            <input (selected)="selectedDate($event, daterange)" [options]="options" daterangepicker id="daterange"
                                   name="daterangeInput"/>
                            <i class="fas fa-chevron-down ml-2"></i>
                        </div>
                    </div>
                </div>
                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget">

                    <!-- Schedule Header -->
                    <div class="schedule-header">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Day Slot -->
                                <div class="day-slot">
                                    <ul>
                                        <li class="left-arrow">
                                            <a>
                                                <i class="fa fa-chevron-left"></i>
                                            </a>
                                        </li>
                                        <li class="center">
                                            <span>{{this.getDate(this.req.exaData.day)}}</span>
                                            <span class="slot-date">{{this.req.exaData.day | date}}</span>
                                        </li>

                                        <li class="right-arrow">
                                            <a>
                                                <i class="fa fa-chevron-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Day Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Header -->

                    <!-- Schedule Content -->
                    <div class="schedule-cont">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group card-label">
                                <label>Dirección<span class="required">*</span></label>
                                <input [(ngModel)]="datasend.direccion" class="form-control" name="direccion" type="text">
                            </div>
                        </div>
                        <agm-map style="height: 300px; width: 100%" [zoom]="15" [latitude]="lat" [longitude]="lng" >
                            <agm-marker [markerDraggable]="true" (dragEnd)="markerDragEnd(latitude, longitude, $event)" [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                    <!-- /Schedule Content -->

                </div>
                <!-- /Schedule Widget -->

                <!-- Submit Section -->
                <div class="submit-section proceed-btn text-right">
                    <a [queryParams]="{id: doctorDetails?.id}" (click)="sendData()"
                       class="btn btn-primary submit-btn">Continuar</a>
                </div>
                <!-- /Submit Section -->

            </div>
        </div>
    </div>

</div>
