<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <!-- Social Form -->
                <form>
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="form-group">
                                <label>Facebook URL</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="form-group">
                                <label>Twitter URL</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="form-group">
                                <label>Instagram URL</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="form-group">
                                <label>Pinterest URL</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="form-group">
                                <label>Linkedin URL</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="form-group">
                                <label>Youtube URL</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Guardar Cambios</button>
                    </div>
                </form>
                <!-- /Social Form -->

            </div>
        </div>
    </div>
</div>