<!-- Home Banner -->
<section class="section-search">
    <div class="container" style=" ">
        <div class="banner-wrapper">
            <div class="banner-header">
                <p></p>
                <h1 style="text-shadow: black 0px 0px 10px;">Agenda tu Examen PCR Covid-19</h1>
                <p class="small-text" style="text-shadow: black 0px 0px 10px;">Toma de muestras a domicilio y en laboratorio.</p>
                <a (click)="openelement('http://45.71.46.202/irispacientes/login_nuevo2.asp')" class="btn-pink" style="color: azure;">Revise sus exámenes <i
                        class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- /Home Banner -->

<!-- Book Appointment -->
<section class="section app-form">
    <div class="container">
        <div class="section-header">
            <h6>Reserva de horas</h6>
            <h2>Agenda tu hora para cuando mas te acomode, sin filas.</h2>
        </div>
        <div class="row justify-content-center">

            <div class="col-md-8 col-lg-8">
                <!--<div class="form-group">
                   <input [(ngModel)]="this.reqapp.exaData.day" id="datefield" class="form-control" placeholder="Dia" type="date">
                </div>-->
                <div class="form-group">
                    <mat-form-field class="example-full-width" style="width: 100%" appearance="fill">
                        <mat-label>Elige el día</mat-label>
                        <input [(ngModel)]="this.reqapp.exaData.day" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <label > Examen</label>

                <div class="form-group">
                    <select [(ngModel)]="this.reqapp.exaData.examen" class="form-control"
                            placeholder="selecciones su examen">
                        <option *ngFor="let item of this.exams | async" placeholder="Hora y fecha"
                                value="{{item.id}}">{{item.examen}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mt-4">
            <a (click)="NavDom()" aria-disabled="true" class="btn-pink" style="color: azure;" routerLinkActive="router-link-active">Reservar Hora<i
                    class="fas fa-arrow-right"></i></a>
            <a (click)="Naver()" aria-disabled="true" class="btn-pink" style="color: azure; margin-left: 5%" routerLinkActive="router-link-active">Reserva Domicilio <i
                    class="fas fa-arrow-right"></i></a>
                     <br>

        </div>
    </div>
</section>

<section class="doctors-col section app-form">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="section-header text-center">
                <h2>Compra tu bono en linea</h2>
            </div>
        </div>
        <div class="row">
                <div class="profile-widget col-lg-4">
                    <h3 style="text-align: center;">Fonasa</h3>
                    <!--<div class="test-content">
                        <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                            graphic or web designs. The passage is attributed.</p>
                    </div>-->
                    <div class="test-image d-flex align-items-center">

                        <div class="test-users">
             <a (click)="openelement('https://beneficiarios.fonasa.cl/Fonasa-beneficiarios/#!/login')" class="btn-pink" style="color: azure;  display: block;
  margin-left: 50%;
  margin-right: 10%;
  width: 100%;">
                 Ir a Compra de bonos
                 <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
                <div class="profile-widget col-lg-4">
                    <h3 style="text-align: center;">Isapre</h3>

                   <!-- <div class="test-content">
                        <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                            graphic or web designs. The passage is attributed.</p>
                    </div> -->
                    <div class="btn-group centered" style="width: 60%">
                        <button aria-expanded="false" style="display: block;
  margin-left: 50%;
  margin-right: 10%;
  width: 100%;" aria-haspopup="true" class="btn btn-pink dropdown-toggle"
                                data-toggle="dropdown" type="button"> Selecciona tu Isapre
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" *ngFor="let item of isapres"  (click)="openelement(item.url)">{{item.isapre}}</a>

                        </div>
                    </div>
                </div>
                <div class="profile-widget col-lg-4">
                    <h3 style="text-align: center;">¿Tienes mas de 65 años?</h3>

                    <div class="test-content">
                        <p>Si realizar tramites en linea no es lo tuyo, puedes enviar tu solicitud y lo hacemos por usted, es necesario que rellene un simple formulario con sus datos y nosotros le enviaremos el bono en breve.</p>
                    </div>
                    <a (click)="openelement('mailto:administracion@laboratorioaleman.cl?subject=Compra%20Bono%20Imed')" class="btn-pink" style="color: azure;  display: block;
  width: 100%;">
                        Ir a Compra de bonos
                        <i class="fas fa-arrow-right"></i></a>

                </div>

        </div>
    </div>
</section>

<!-- Book Appointment -->

<!-- Childcare Section -->
<section class="section section-treatment">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="placeholder">
                    <div class="inner-placeholder">
                        <div class="inner-text">
                            <h2>15+ años</h2>
                            <h5>Experiencia</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header">
                    <h6>Nos preocupamos por ti y tu salud</h6>
                    <h2>Mas de 15 años de trayectoria.</h2>
                </div>
                <div class="about-content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                        tation ullamcorper suscipit lobortis nisl ut aliquip lobortis nisl ut aliquip lobortis nisl ut
                        aliquip ex ea commodo consequat. Duis autem vel eum .</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                        ut laoreet dolore magna aliquam .</p>
                    <div class="row child-care">
                        <div class="col-md-6">
                            <ul class="left">
                                <li><i class="fas fa-chevron-right"></i>Modernas Instalaciones</li>
                                <li><i class="fas fa-chevron-right"></i>Resultado rápidos y precisos</li>
                                <li><i class="fas fa-chevron-right"></i>Texto de prueba</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="left">
                                <li><i class="fas fa-chevron-right"></i>Texto de prueba</li>
                                <li><i class="fas fa-chevron-right"></i>Texto de prueba</li>
                                <li><i class="fas fa-chevron-right"></i>Texto de prueba</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Childcare Section -->

<!-- Service Section -->
<section class="section service-section">
    <div class="container">
        <div class="section-header">
            <h6>Amplio rango de servicios</h6>
            <h2>Exámenes </h2>
        </div>
        <div class="row service-grid">
            <div class="col-md-6 col-lg-4 col-sm-12">

                <!-- Services -->
                <div class="service-blog">
                    <div class="service-image">
                        <img alt="Post Image" class="img-fluid" src="assets/img/adenovirus.jpeg">
                        <div class="service-content text-center">
                            <h3 class="service-title mb-0">Adenovirus</h3>
                        </div>
                    </div>
                </div>
                <!-- /Services -->

            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">

                <!-- Services -->
                <div class="service-blog">
                    <div class="service-image">
                        <img alt="Post Image" class="img-fluid" src="assets/img/features/ser-img2.jpg">
                    </div>
                    <div class="service-content text-center">
                        <h3 class="service-title mb-0">Antígeno Carcino Embrionario</h3>
                    </div>
                </div>
                <!-- /Services -->

            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">

                <!-- Services -->
                <div class="service-blog">
                    <div class="service-image">
                        <img alt="Post Image" class="img-fluid" src="assets/img/features/ser-img3.jpg">
                    </div>
                    <div class="service-content text-center">
                        <h3 class="service-title mb-0">Bilirrubina Total</h3>
                    </div>
                </div>
                <!-- /Services -->

            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">

                <!-- Services -->
                <div class="service-blog">
                    <div class="service-image">
                        <img alt="Post Image" class="img-fluid" src="assets/img/features/ser-img4.jpg">
                    </div>
                    <div class="service-content text-center">
                        <h3 class="service-title mb-0">Cobre en sangre (Cupremia)</h3>
                    </div>
                </div>
                <!-- /Services -->

            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">

                <!-- Services -->
                <div class="service-blog">
                    <div class="service-image">
                        <img alt="Post Image" class="img-fluid" src="assets/img/features/ser-img5.jpg">
                    </div>
                    <div class="service-content text-center">
                        <h3 class="service-title mb-0">Colesterol VLDL</h3>
                    </div>
                </div>
                <!-- /Services -->

            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">

                <!-- Services -->
                <div class="service-blog">
                    <div class="service-image">
                        <img alt="Post Image" class="img-fluid" src="assets/img/features/ser-img6.jpg">
                    </div>
                    <div class="service-content text-center">
                        <h3 class="service-title mb-0">Helicobacter Pylori</h3>
                    </div>
                </div>
                <!-- /Services -->

            </div>
        </div>
    </div>
</section>
<!-- /Service Section -->

<!-- Why Choose -->
<section class="why-section" >
    <div class="left-section">
        <div class="why-content">
            <div class="section-header">
                <h2>Por que elegirnos</h2>
            </div>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web
                designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have
                scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.Lorem ipsum,
                or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
            <p>The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled
                parts of Cicero's De Lorem ipsum, or lipsum as it is sometimes known. The passage is attributed to an
                unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De </p>
            <div class="child-care">
                <ul class="left">
                    <li><i class="fas fa-chevron-right"></i> Atencion a domicilio</li>
                    <li><i class="fas fa-chevron-right"></i> Texto de prueba</li>
                    <li><i class="fas fa-chevron-right"></i> Texto de prueba</li>
                    <li><i class="fas fa-chevron-right"></i> Texto de prueba</li>
                    <li><i class="fas fa-chevron-right"></i> Texto de prueba</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right-section">
    </div>
</section>
<!-- /Why Choose -->

<!-- Count Section -->
<section class="section-count">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <h2>500+</h2>
                <p>Pacientes satisfechos</p>
            </div>
            <div class="col-md-4 col-lg-4">
                <h2>300+</h2>
                <p>Exámenes</p>
            </div>
            <div class="col-md-4 col-lg-4">
                <h2>15+</h2>
                <p>Años de Experiencia </p>
            </div>
        </div>
    </div>
</section>
<!-- /Count Section -->

<!-- Doctor Section -->
<section class="section doctor-section">
    <div class="container">
        <div class="section-header">
            <h6>Guía Médica</h6>
            <h2><a [routerLink]="'patients/search-doctor'" class="member-btn">Ver todos</a></h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3">
                <div class="profile-card">
                    <div class="profile-image">
                        <a [routerLink]="'/doctor/dashboard'">
                            <img alt="" src="assets/img/doctors/doctor-thumb-02.jpg">
                        </a>
                    </div>
                    <div class="profile-content">
                        <h3><a [routerLink]="'/doctor/dashboard'">Marcelo Pradenas Cano</a></h3>
                        <p>Otorrinolaringología</p>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="profile-card">
                    <div class="profile-image">
                        <a [routerLink]="'/doctor/dashboard'">
                            <img alt="" src="assets/img/doctors/doctor-thumb-05.jpg">
                        </a>
                    </div>
                    <div class="profile-content">
                        <h3><a [routerLink]="'/doctor/dashboard'">Luis Nuñez Aguilar</a></h3>
                        <p>Neurología</p>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="profile-card">
                    <div class="profile-image">
                        <a [routerLink]="'/doctor/dashboard'">
                            <img alt="" src="assets/img/doctors/doctor-thumb-08.jpg">
                        </a>
                    </div>
                    <div class="profile-content">
                        <h3><a [routerLink]="'/doctor/dashboard'">Dr. Juan Bravo Figueroa</a></h3>
                        <p>Cirugía Vascular</p>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="profile-card active">
                    <div class="profile-image">
                        <a [routerLink]="'/doctor/dashboard'">
                            <img alt="" src="assets/img/doctors/doctor-thumb-01.jpg">
                        </a>
                    </div>
                    <div class="profile-content">
                        <h3><a [routerLink]="'/doctor/dashboard'">Roberto Rodríguez Ramirez</a></h3>
                        <p>Cirugía Vascular</p>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Doctor Section -->

<!-- Blog Section -->
<section class="section blog-section">
    <div class="container">
        <div class="section-header">
            <h6>Ultimas Noticias</h6>
            <h2>Nuestro blog <a [routerLink]="'blog'" class="member-btn">Ver todas las entradas.</a></h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="blog-sec">
                    <div class="blog-image">
                        <img alt="Post Image" class="img-fluid" src="https://d51h1y0hva8v.cloudfront.net/images/default-source/art%C3%ADculos/virus-del-papiloma-humano.tmb-casdesktop.jpg?sfvrsn=61aca30f_1">
                    </div>
                    <div class="blog-content text-center">
                        <p>23/02/2020 | Category</p>
                        <h3>Lorem ipsum, or lipsum as it is sometimes known doloremque.</h3>
                        <a [routerLink]="'blog-details'" class="readmore"> Ver más </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-sec">
                    <div class="blog-image">
                        <img alt="Post Image" class="img-fluid" src="assets/img/blog/blog-02.jpg">
                    </div>
                    <div class="blog-content text-center">
                        <p>11/03/2020 | Category</p>
                        <h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h3>
                        <a [routerLink]="'blog-details'" class="readmore"> Ver más </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-sec">
                    <div class="blog-image">
                        <img alt="Post Image" class="img-fluid" src="assets/img/blog/blog-03.jpg">
                    </div>
                    <div class="blog-content text-center">
                        <p>13/03/2020 | Category</p>
                        <h3>Lorem ipsum, or lipsum as it is sometimes known doloremque.</h3>
                        <a [routerLink]="'blog-details'" class="readmore"> Ver más </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Blog Section -->
